.hours-banner-wrapper {
    background: #f1f1e9;
}

.hours-banner {
    padding: 24px 0;
    text-align: center;
}

.hours-banner__message p {
    font-size: 17px;
    max-width: 800px;
}

.hours-banner__timesheet {
    margin: 24px auto 0;
    max-width: 300px;
}



@media (min-width: 550px) {
    .hours-banner {
        align-items: center;
        display: flex;
        padding: 0;
        text-align: left;
    }
    
    .hours-banner__message {
        flex: 1 auto;
        padding: 0 24px 0 0;
    }
    
    .hours-banner__timesheet {
        flex: 0 0 230px;
        margin: -80px 0 0;
        position: relative;
        width: 230px;
        z-index: 1;
    }
}