.content-wrapper {
    max-width: 1200px;
    padding: 0;
    margin: 0px auto;
}

.content-wrapper--pad-bottom {
    padding-bottom: 24px;
}

.content-wrapper--pad-left {
    padding-left: 24px;
}

.content-wrapper--pad-right {
    padding-right: 24px;
}

.content-wrapper--pad-top {
    padding-top: 24px;
}