.about-facts {
    display: block;
}

.about-fact + .about-fact {
    margin: 24px 0 0;
}

.about-fact {
    border: 1px solid #CCCCCB;
    border-radius: 4px;
    flex: 1 33.3333%;
    padding: 24px 12px;
    text-align: center;
}

.about-fact__highlight {
    font-size: 64px;
}

.about-fact__highlight--smaller {
    font-size: 42px;
}

@media (min-width: 550px) {
    .about-facts {
        display: flex;
    }

    .about-fact {
        padding: 24px;
    }
    
    .about-fact + .about-fact {
        margin: 0 0 0 24px;
    }
}