.header-top {
    background-color: rgba(103,92,83,0.6);
    font-size: 14px;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.header-top a:hover {
    color: #fff;
}

.header-top__content {
    display: flex;
    justify-content: space-between;
}

.header-top-street-address {
    display: none;
}

@media (min-width: 450px) {
    .header-top-street-address {
        display: inline;
    }
}

.header {
    background-color: #FFFFFC;
    padding: 12px 0;
    left: 0;
    position: fixed;
    top: 30px;
    z-index: 19;
    width: 100%;
}

.header h1, .header h1 a, .header h1 a:active, .header h1 a:hover, .header h1 a:visited {
	color: #675c53;
	font-weight: 700;
	font-size: 32px;
    margin: 0;
    padding: 0;
	text-decoration: none;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-navigation {
    background: #87807c;
    position: absolute;
    height: 100%;
    height: 100vh;
    height: calc(100vh - 56px);
    left: 0;
    margin: 0px;
    overflow-y: scroll;
    padding: 32px 0;
    text-align: center;
    top: 62px;
    transform: translateX(100%);
    transition: transform 0.2s linear;
    width: 100%;
    width: 100vw;
    z-index: 10000;
}

.header-navigation--visible {
    transform: translateX(0);
}

.header-navigation li {
    display: block;
    margin-bottom: 24px;
}

.header-navigation li a {
    color: #FFFFFC;
    font-size: 24px;
}

.header-navigation-toggle {
    cursor: pointer;
    font-size: 20px;
}

@media (min-width: 600px) {
    .header-navigation {
        background: transparent;
        height: 20px;
        overflow: visible;
        overflow-y: visible;
        padding: 0;
        position: static;
        transform: translateX(0);
        width: auto;
    }
    
    .header-navigation li {
        display: inline-block;
    }
    
    .header-navigation li + li {
        margin-left: 16px;
    }
    
    .header-navigation li a, .header-navigation li a:active, .header-navigation li a:visited, .header-navigation li a:hover {
        color: #87807c;
        font-size: 16px;
        position: relative;
    }
    
    .header-navigation li a::after {
        background: #87807c;
        bottom: 0;
        height: 2px;
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        transform: translateY(4px);
        transition: opacity 0.2s ease-in-out, transform 0.2s linear;
        width: 100%;
    }
    
    .header-navigation li a:hover::after {
        opacity: 1;
        transform: translateY(2px);
    }
    
    .header-navigation-toggle {
        display: none;
    }
}